* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.login-container{
  position: absolute; 
  height: 100%;
  width: 100%;
  top: 0; 
  left: 0;
  display: flex;
  justify-content: center; 
  align-items: center;

}

.login-content {
  background-color: white;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  max-height: 100%;
}


.btn-register{
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.register-container{
  position: absolute; 
  height: 100%;
  width: 100%;
  top: 0; 
  left: 0;
  display: flex;
  justify-content: center; 
  align-items: center;

}

.register-content {
  background-color: white;
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  max-height: 100%;
}



